.terms {
    .terms-wrapper {
        background-color: #ffffff;
        box-shadow: 0 6px 18px 0 rgba(144, 164, 183, 0.22);
        padding: 30px 30px;
        margin-bottom: 170px;
        margin-top: 48px;
        @media(max-width:768px) {
            margin-top: 30px;
            padding: 5px;
            background-color: transparent;
            box-shadow: none;
        }

        h4 {
            font-size: 25px;
            text-align: center;
            color: #595f6f;
            font-family: 'Open Sans';
            text-transform: uppercase;
            margin-bottom:  10px;
            margin-top: 0px;
            @media(max-width:768px) {
                font-size: 19px;
            }
        }

        p {
            color: #50555b;
            font-size: 14px;
            font-family: 'Open Sans';
            margin-bottom: 15px;
        }
    }
}

.contacts {
    .contacts-wrapper {
        background-color: #ffffff;
        box-shadow: 0 6px 18px 0 rgba(144, 164, 183, 0.22);
        padding: 30px 30px;
        margin-bottom: 270px;
        margin-top: 48px;
        @media(max-width:768px) {
            margin-top: 30px;
            padding: 5px;
            background-color: transparent;
            box-shadow: none;
        }

        h4 {
            font-size: 25px;
            text-align: center;
            color: #595f6f;
            font-family: 'Open Sans';
            text-transform: uppercase;
            margin-bottom:  10px;
            margin-top: 0px;
            @media(max-width:768px) {
                font-size: 19px;
            }
        }

        p {
            color: #50555b;
            font-size: 14px;
            font-family: 'Open Sans';
            margin-bottom: 15px;
        }
    }
}

.about {
    .about-wrapper {
        background-color: #ffffff;
        box-shadow: 0 6px 18px 0 rgba(144, 164, 183, 0.22);
        padding: 30px 30px;
        margin-bottom: 170px;
        margin-top: 48px;
        @media(max-width:768px) {
            margin-top: 30px;
            padding: 5px;
            background-color: transparent;
            box-shadow: none;
        }
        h4 {
            font-size: 25px;
            text-align: center;
            color: #595f6f;
            font-family: 'Open Sans';
            text-transform: uppercase;
            margin-bottom:  10px;
            margin-top: 0px;
            @media(max-width:768px) {
                font-size: 19px;
            }
        }

        .about-content {
            .about-content-img {
                display: flex;
                div {
                    img {
                        margin-right: 33px;
                        @media(max-width:768px) {
                            display: none;
                        }
                    }
                }
            }

            p {
                color: #50555b;
                font-size: 14px;
                font-family: 'Open Sans';
                margin-bottom: 15px;
            }
        }
    }
}

.error {
    .error-wrapper {
        background-color: #ffffff;
        box-shadow: 0 6px 18px 0 rgba(144, 164, 183, 0.22);
        padding: 30px 30px;
        margin-bottom: 270px;
        margin-top: 48px;
        
        h1 {
            font-size: 135px;
            font-weight: 800;
            text-align: center;
            color: #595f6f;
            font-family: 'Open Sans';
            text-transform: uppercase;
            margin-bottom:  10px;
            margin-top: 0px;
            @media(max-width:768px) {
                font-size: 80px;
            }
        }

        p {
            color: #50555b;
            font-size: 22px;
            font-family: 'Open Sans';
            margin-bottom: 15px;
            text-align: center;

            a {
                color: #379680;
                font-size: 22px;
                text-decoration: underline;
            }
        }
    }
}