.featured-section {
    .featured-section-title {
        margin-top: 48px;
        margin-bottom: 20px;
        @media(max-width:460px) {
            margin-top: 30px;
        }

        h4 {
            font-size: 25px;
            font-family: 'Open Sans';
            color: #595f6f;
            text-transform: uppercase;
            text-align: center;
            margin: 0px;
        }
    }

    .featured-section-games {
        background-color: #ffffff;
        margin-bottom: 20px;

        #featured-section-games--buttons {
            background-color: #fafbfc;
            display: flex;

            li {
                a {
                    padding: 11px 30px;
                    font-size: 12px;
                    font-weight: bold;
                    color: #a3a3a3;
                    background-color: transparent;
                    display: inline-block;
                    font-family: 'Open Sans';
                    text-transform: uppercase;
                    @media(max-width:460px) {
                        padding: 11px 10px;
                    }
                    &:hover {
                        color: #595f6f;
                        background-color: $white;
                        
                    }
                }
            }

            .active {
                color: #595f6f;
                background-color: $white;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
            }
        }

        .featured-section-games--text {
            padding: 27px 20px;
            box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.14);
            background-color: $white;
            position: relative;

            .button-item {
                color: #595f6f;
                font-size: 15px;
                font-family: 'Open Sans';
            }
        }
    }
}