// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
// g- { prefixed classes are global components }

body {
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    background-color: $bg-body;
    color: #50555b;
}

.container {
    @media(max-width:768px) {
        padding: 0px 15px !important;
    }
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

input, textarea, button {
    border: none;
    &:focus {
        outline: none;
    }
}

.head {
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(144, 164, 183, 0.19);
    .head-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .head-nav {
            ul {
                display: flex;
                @media(max-width:768px) {
                    display: none;
                }

                li {
                    a {
                        font-size: 16px;
                        font-weight: 500;
                        color: #595f6f;
                        border-bottom: 7px solid transparent;
                        margin: 22px 15px 0px 15px;
                        padding-bottom: 15px;
                        display: inline-block;

                        &:hover {
                            border-bottom: 7px solid #379680;
                            color: #379680;
                        }
                    }
                }

                .active {
                    a {
                        border-bottom: 7px solid #379680;
                        color: #379680;
                    }
                }
            }

            .ham-button {
                display: none;
                @media(max-width:768px) {
                    display: block;
                    padding: 33px 0px;
                }
            }
        }
    }
}

.foot {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 80px;

    .foot-wrapper {
        .foot-logo {
            margin-bottom: 27px;
            @media(max-width:768px) {
                text-align: center;
            }
        }

        .foot-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media(max-width:768px) {
                justify-content: center;
                flex-direction: column-reverse;
                align-items: center;
            }

            .offer-text {
                width: 42%;
                @media(max-width:768px) {
                    display: none;
                }

                p {
                    font-size: 18px;
                    letter-spacing: -0.5px;
                    color: #379680;
                    margin-bottom: 8px;
                }

                span {
                    font-size: 14px;
                    color: #bfc4ce;
                    line-height: 1.29;
                    display: inline-block;
                    padding-right: 100px;
                }
            }

            .nav-list {
                margin-right: 77px;
                @media(max-width:768px) {
                    margin-right: 0px;
                    text-align: center;
                }

                ul {
                    li {
                        a {
                            color: #bfc4ce;
                            font-size: 15px;
                            font-weight: 500;
                            margin-bottom: 14px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

.casino-hotels {
    background-color: $white;
    box-shadow: 0 6px 18px 0 rgba(144, 164, 183, 0.22);
    margin-bottom: 42px;
    @media(max-width:768px) {
        box-shadow: none;
        background-color: transparent;
    }

    .hotel {
        display: flex;
        padding: 25px 20px;
        border-bottom: solid 1px #e7ebef;
        @media(max-width:768px) {
            flex-wrap: wrap;
            border: solid 1px #e9ecf0;
            background-color: $white;
            margin-bottom: 15px;
        }

        .hotel-logo {
            width: 16%;
            @media(max-width:992px) {
                width: 24%;
            }
            @media(max-width:768px) {
               width: 48%;
               margin-bottom: 15px;
            }

            .logo-box {
                width: 139px;
                height: 100px;
                border-radius: 5px;
                border: 4px solid #e1e1e1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                @media(max-width:768px) {
                    margin: 0 auto;
                }
                @media(max-width:460px) {
                    width: 89px;
                    height: 64px;
                }

                img {
                    @media(max-width:460px) {
                        width: 80%;
                    }
                }

                .medal {
                    position: absolute;
                    top: -5px;
                    left: 8px;
                    @media(max-width:768px) {
                        display: none;
                    }
                }
            }
        }

        .hotel-name {
            width: 35%;
            @media(max-width:768px) {
                width: 48%;
                text-align: center;
            }

            p {
                font-size: 19px;
                font-weight: bold;
                color: #50555b;
                text-decoration: underline;
                margin-bottom: 5px;
                @media(max-width:460px) {
                    display: none;
                }
            }

            span {
                font-size: 17px;
                font-weight: 500;
                color: #50555b;
                display: inline-block;
                padding-right: 30px;
                @media(max-width:460px) {
                    font-size: 14px;
                    padding: 0px; 
                }
            }
        }

        .hotel-rate {
            width: 14%;
            text-align: center;
            @media(max-width:768px) {
                width: 48%;
             }

            span {
                font-size: 11px;
                font-weight: 500;
                color: #50555b;
                text-transform: uppercase;
                margin-bottom: 10px;
                display: inline-block;
            }

            a {
                color: #0288d1;
                font-size: 12px;
                margin-top: 5px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .hotel-score {
            width: 14%;
            text-align: center;
            @media(max-width:768px) {
                width: 48%;
             }

            span {
                font-size: 11px;
                font-weight: 500;
                color: #50555b;
                text-transform: uppercase;
                display: inline-block;
            }

            p {
                font-size: 46px;
                color: #50555b;
                letter-spacing: -1.7px;
                @media(max-width:460px) {
                   font-size: 30px;
                }
            }
        }

        .hotel-button {
            width: 21%;
            display: flex;
            justify-content: flex-end;
            padding-top: 10px;
            @media(max-width:768px) {
                width: 100%;
                justify-content: center;
             }

            a {
                width: 170px;
                height: 55px;
                border-radius: 6px;
                background-color: #379680;
                box-shadow: 0 3px 0 0 #1e584a;
                font-size: 21px;
                font-weight: 900;
                color: $white;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                @media(max-width:460px) {
                    width: 259px;
                    height: 45px;
                }
            }
        }
    }
}

.mobileLinks {
    display: none;
    width: 100%;
    background-color: $white;
    text-align: center;
    padding: 20px 0px;
    .mobileLinks-item {
        ul {
            li{
                a {
                    font-size: 24px;
                    font-weight: 500;
                    color: #595f6f;
                    margin-bottom: 20px;
                    display: inline-block;
                }
            }
        }
    }
}