.home-section {
    .home-section-title {
        margin-top: 48px;
        margin-bottom: 10px;
        @media(max-width:460px) {
            margin-top: 30px;
        }
        h4 {
            font-size: 25px;
            font-family: 'Open Sans';
            color: #595f6f;
            text-transform: uppercase;
            text-align: center;
            margin: 0px;
            @media(max-width:460px) {
                font-size: 19px;
            }
        }
    }

    .home-section-text {
        margin-bottom: 30px;
        @media(max-width:460px) {
            display: none;
        }

        p {
            font-family: 'Open Sans';
            font-size: 14px;
            color: #50555b;
            text-align: center;
        }
    }

    .home-section-description {
        margin-bottom: 70px;

        .description-title {
            p {
                font-size: 26px;
                color: #595f6f;
                font-family: 'Open Sans';
                margin-bottom: 10px;
                text-transform: uppercase;
                @media(max-width:460px) {
                    font-size: 18px;
                }
            }
        }

        .description-item {
            p {
                color: #50555b;
                font-family: 'Open Sans';
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
    }
}