.review-section {
    .review-section-wrapper {
        background-color: #ffffff;
        box-shadow: 0 6px 18px 0 rgba(144, 164, 183, 0.22);
        padding-top: 30px;
        margin-top: 48px;
        margin-bottom: 70px;
        @media(max-width:768px) {
            background-color: transparent;
            box-shadow: none;
            margin-top: 30px;
            padding-top: 0px;
        }

        .review-section-title {
            margin-bottom: 10px;

            h4 {
                font-size: 25px;
                font-family: 'Open Sans';
                color: #595f6f;
                text-transform: uppercase;
                text-align: center;
                margin: 0px;
                @media(max-width:768px) {
                    font-size: 19px;
                }
            }
        }
    
        .review-section-text {
            margin-bottom: 55px;
            padding: 0px 30px;
            @media(max-width:768px) {
                display: none;
            }

            p {
                font-family: 'Open Sans';
                font-size: 14px;
                color: #50555b;
                text-align: center;
            }
        }

        .casino-hotels {
            box-shadow: none;
            margin-bottom: 55px;

            .hotel {
                border-top: solid 2px #e7ebef;
                border-bottom: solid 2px #e7ebef;
                @media(max-width:768px) {
                    border: solid 2px #e7ebef;
                }

                .hotel-rate {
                    span {
                        margin-bottom: 25px;
                        @media(max-width:768px) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .review-section-paragraph {
            margin-bottom: 55px;
            padding: 0px 30px 30px 30px;

            .paragraph-title {
                margin-bottom: 10px;
                
                p {
                    font-size: 25px;
                    font-family: 'Open Sans';
                    color: #595f6f;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0px;
                    @media(max-width:768px) {
                        font-size: 19px;
                    }
                }
            }

            .paragraph-text {
                p {
                    font-family: 'Open Sans';
                    font-size: 14px;
                    color: #50555b;
                }
            }
        }
    }
}