.reviews-section {
    .reviews-section-title {
        margin-top: 48px;
        margin-bottom: 10px;
        @media(max-width:768px) {
            margin-top: 30px;
        }

        h4 {
            font-size: 25px;
            font-family: 'Open Sans';
            color: #595f6f;
            text-transform: uppercase;
            text-align: center;
            margin: 0px;
            @media(max-width:768px) {
                font-size: 19px;
            }
        }
    }

    .reviews-section-text {
        margin-bottom: 30px;
        p {
            font-family: 'Open Sans';
            font-size: 14px;
            color: #50555b;
            text-align: center;
            @media(max-width:768px) {
                display: none;
            }
        }
    }

    .casino-hotels {
        .hotel {
            @media(max-width:460px) {
                padding: 25px 5px;
            }
            .hotel-name {
                p {
                    @media(max-width:992px) {
                        font-size: 16px;
                    }
                    @media(max-width:768px) {
                        display: none;
                    }
                }

                span {
                    @media(max-width:992px) {
                        font-size: 14px;
                    }
                    @media(max-width:768px) {
                        padding-right: 0px;
                        text-align: left;
                        font-size: 14px;
                    }
                    @media(max-width:460px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}